/* Paleta de cores:
Principal: #0004b18
Fundo da página: branco (talvez puxar BEM de leve pro verde)
Texto: preto
*/

/* Estilização geral */


html{
    background-color: #ffffff;
    font-size: 18px;
    font-family: "Sofia Sans Condensed";
}

body{
    margin: 0px;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    padding-top: 80px
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}
/* Estilização do cabecalho */

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    font-weight: 600;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 5px solid #004b18;
}

.header a{
    text-decoration: none;
    color: black;
}

.header a:hover{
    color: #004b18;
}

/* Estilização da seção da logo */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #004b18;
    margin-top: 60px;
    width: 100%;
    height: 450px;
}

.logo img{
    border-radius: 100%;
    align-self: center;
    width: 400px;
    height: 400px;
}

.logo section{
    margin-left: 0px;
}
/* Estilização da seção dos profissionais */

.profissionais{
    display: flex;
    flex-direction: column;
}

.profissionais h1{
    align-self: center;
}

.profissionais h2{
    align-self: center;
}

.profissionais img{
    border: 8px solid #004b18;
    border-radius: 20%;
    width: 190px;
    height: 190px;
}

.bpiercing, .tattoo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 85px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Estilização das seções dos profissionais */

.bel:hover, .alexia:hover, .davi:hover, .lolly:hover, .lourena:hover {
    opacity: 70%;
}

.bel, .alexia, .davi, .lolly, .lourena {
    display: flex;
    flex-direction: column;
}

.bel h3, h4, img {
    align-self: center;
}

.bel h4{
    margin-top: -20px;
}

.alexia h3, h4, img{
    align-self: center;
}

.alexia h4{
    margin-top: -20px;
}

.davi h3, h4, img {
    align-self: center;
}

.davi h4{
    margin-top: -20px;
}

.lolly h3, h4, img {
    align-self: center;
}

.lolly h4{
    margin-top: -20px;
}

.lourena h3, h4, img {
    align-self: center;
}

.lourena h4{
    margin-top: -20px;
}

/* Estilização da seção sobre */

.sobre {
    display: flex;
    flex-direction: row;
    background-color: #004b18;
    color: white;
    padding-left: 160px;
    padding-right: 160px;
}

.sobre-texto {
    width: 50%;
    margin-left: 20px;
}

.sobre img{
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sobre p{
    font-size: 18px;
}

/* Estilização da seção de localização e contato */

.contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.loc, .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loc h3, p {
    margin-bottom: -10px;
}

.cont h3, p {
    margin-bottom: -10px;
}

/* estilização do rodapé */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #004b18;
    color: #ffffff;
    margin-top: 35px;
    font-size: 20px;
}

footer img {
    width: 20px;
    height: 20px;
}

footer img:hover {
    opacity: 70%;
}

footer p {
    margin-bottom: 18px;
}
